*{
    box-sizing: border-box;
}
:root{
    --background-color: black;
    --fontcolor: beige; 
}

html {
    font-size: 100%;

}

h1{
    font-size: 2rem;
}

h2, .contact nav a {
    font-size: 2rem;
}


@media screen  and (min-width: 560px) {
  body {
    color: var(--fontcolor);
    background-color: var(--background-color);

  }  
  
}

.hero {
    max-height: 50vh;
}

.hero img {
    width: 100%;
    height: 100%;
}
a:hover{
    text-decoration: underline;
}


